.title {
  margin-top: 50px;
}
.title, .para {
  text-align: center;
}
.aTag {
  text-decoration: underline;
  /* color: blue; */
}
.para {
  display: flex;
  justify-content: center;
}
.faq  {
  margin: 0 15px;
}
.faq > p {
  font-size: 1.2rem;
  /* text-align: center; */
  max-width: 400px;
  margin: 30px auto;
}
.para p {
  font-size: 1.4rem;
  max-width: 600px;
  padding: 0 15px;
  line-height: 1.4;
}
.phone, .email {
  text-decoration: underline;
  color: rgb(0, 102, 255);
  margin: 10px;
  display: flex;
  justify-content: center;
}
.phone {
  font-size: 1.8rem;
}
.email {
  font-size: 1.5rem;
  line-height: 2;
}

.bookingForm {
  background-color: rgb(241, 246, 255);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookingForm > * {
  max-width: 600px;
}
.question {
  font-family: var(--font2);
  text-align: center;
  font-weight: 900;
  margin: 9px;
}

.bookbtn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.callus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.callus a {
  font-size: 1.5rem;
  /* text-decoration: underline; */
  color: rgb(21, 99, 255);
}

.formMui > * {
  margin: 10px;
}

.afterForm {
  margin: 40px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.moneybackImg {
  background-color: aqua;
  /* padding: 10px; */
  width: 150px;
  height: 150px;
  object-fit: contain;
  /* flex-grow: 1; */
  flex-basis: 150px;
}
.refundPara {
  font-family: var(--font2);
  padding: 0 10px;
  color: rgb(63, 63, 63);
  max-width: 400px;
  text-align: center;
  /* flex-grow: 1; */
  flex-basis: 300px;
}
