.navBox {
  background-color: #212121;
  width: 100vw;
  display: none;
  justify-content: center;
}
.smallNavBox {
  background-color: #212121;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smnavbar {
  /* background-color: #33f; */
  color: white;
  padding-bottom: 20px;
}
.smnavbar h1 {
  font-size: 2.6rem;
  margin: 20px;
}
.navbar {
  /* background-color: #33f; */
  color: white;
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar h1:hover, .smnavbar h1:hover, .btn:hover {
  cursor: pointer;
}
.link {
  font-size: 1.2rem;
}
.main li {
  margin: 5px;
}

.title, .titleBig {
  margin: 40px 30px;
  text-align: center;
  font-size: clamp(35px, 10vw, 60px);
}

.matterportDemo {
  left: 0;
  width: 100%;
  height: 60vh;
  /* max-height: 100vh; */
  position: relative;
  /* padding-bottom: 45%; */
}
.iframe {
  top: 0; left: 0;
  width: 100%;
  height: 60vh;
  position: absolute;
  border: 0;
}

.zillowTitle, .mpTitle, .contactTitle {
  font-size: 2.5rem;
  text-align: center;
}
.zillowTitle {
  color: #0778f0;
}
.mpTitle {
  color: #d40d38;
}

.zillowBox, .mpBox {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}
.zillowInfo, .mpInfo {
  font-size: 1.6rem;
  flex-grow: 1;
  flex-basis: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zillowInfo p, .mpInfo p {
  text-align: center;
  margin: 10px;
}
.mpPara {
  max-width: 400px;
  padding: 15px;
}
.mpInfo p {
  line-height: 1.5;
  font-size: 1.3rem;
}
.zillowInfo li::marker, .mpInfo li::marker {
  content: "👉";
}
.zillowInfo span, .mpInfo span {
  padding-left: 20px;
}
.zillowImg, .mpImg, .aerialImg {
  flex-grow: 1;
  flex-basis: 390px;
  max-height: 320px;
}

.zillowImg img, .mpImg img, .aerialImg img {
  object-fit: contain;
}
.aerialImg {
  transform: scaleX(-1);
}

.mpBox {
  display: flex;
}
.zillowBox > *, .mpBox > *  {
  /* border: 2px solid #d40d38; */
  margin: 2px;
}

.contactBox  {
  /* background-color: #0778f0; */
  margin: 60px 0 150px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 200px;
}
.btn {
  background-color: #0778f0;
  color: white;
  border: none;
  font-size: 1.4rem;
  padding: 1em;
}
.subTitle {
  color: rgb(41, 41, 41);
  margin-top: -20px;
  font-size: 1.2rem;
  padding: 0;
}

.header {
  font-size: 3.2rem;
  text-align: center;
  text-decoration: underline;
}
.introPara {
  font-size: 1.5rem;
  max-width: 600px;
  line-height: 1.6;
  margin: 0 auto;
  padding: 20px;
  color: rgb(143, 143, 143);
}
.introPara span {
  color: var(--primColor);
}
.introPara .redText {
  color: var(--secColor)
}
.aerialTitle {
  color: black;
  margin-top: 50px
}

.licensed {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.658);
}

.licensed img {
  width: 50px;
  height: 50px;
  transform: translateY(40%);
  margin-right: 10px;
  opacity: 80%;
}






/* Title Font Size  */
@media (max-width: 820px) {
  .title {
    display: block;
  }
  .titleBig {
    display: none;
  }
  .licensed {
    transform: translateY(-40px);
  }
}
@media (min-width: 820px) {
  .title {
    display: none;
  }
  .titleBig {
    display: block;
  }
}
@media (max-width: 440px) {
  .zillowTitle, .mpTitle, .contactTitle {
    font-size: 30px;
  }
  .title {
    margin: 40px 10px;
  }
}

@media (min-width: 470px) {
  .navBox {
    display: flex;
  }
  .smallNavBox {
    display: none;
  }
}